

.video-container {
    width: 100%;
    max-width: 100%; /* Default max width */
    aspect-ratio: 16 / 9;
    background: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Larger layout for desktop screens */
@media (min-width: 1024px) {
    .video-grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Larger grid for desktops */
    }

    .video-container {
        max-width: 100%; /* Larger video containers for desktops */
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 5 columns by default */
    justify-content: center;
    padding: 10px;
  }
  
  .card-container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  @media (max-width: 768px)  {
    .card-container .card {
        height: 65px;
        width: 65px;
        padding: 10px;
    }
    .card-container {
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 0px;
    }
  }
